<div>
  <div class="neu">
    <div class="header">
      Customer Relation Management
    </div>
    <nav class="menu">
        <ul>
          <li class="active"><i class="fa fa-home"></i>Home</li>
          <li class="red" (click)="logout()"><i class="fa fa-power-off"  ></i>logout</li>
        </ul>
    </nav>
  </div>
</div>
<div class="content">
  <h1 style="width: 100%;text-align: center;">Add Manager / Customer</h1>
<div id="container">
    <div id="leftThing">
    <div class="field">
      <span class="fas fa-user-circle"></span>
      <input type="text" required placeholder="Name" id='name'>
    </div>
    <div class="field">
      <span class="fas fa-envelope"></span>
      <input type="text" required placeholder="Email"  id='email'>
    </div>
    <div class="field">
      <span class="fas fa-lock"></span>
      <input type="password" placeholder="Password" id='password'>
    </div>
    </div>
  <div id="rightThing">
    <div class="field">
      <span class="fas fa-plus"></span>
        <select name="users" id="userType">
          <option value="Manager">Manager</option>
          <option value="Customer">Customer</option>
      </select>
    </div>
    <div class="field">
      <span class="fas fa-user"></span>
      <select class="form-select" id="manager" aria-placeholder="Choose">
          <option>Select Manager</option>
        <option *ngFor="let man of managers">
            {{man}}
          </option>
      </select>
    </div>
    <div class="note">Choose manager only for customer</div>
  </div>
  </div>
  <button (click)="signHandler()" >Create User</button>
</div>